.DS_Store
.anchor
.idea
.vscode
.yarn
.yarnrc.yml

target
!keys/

test-ledger
.sbf
.solana

node_modules
yarn-error.log
package-lock.json
mb-stack.log
magicblock-test-storage
.cinder-adapter.json
work/

**/*.rs.bk
**/Xargo.toml
